<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-icon-180x180.png">
  <link href="/static/assets/favicon.ico" rel="icon">

  <title>work3 REM</title>  

<link href="/static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/index" title="">01 : Home</a></li>
          <li><a href="/works" title="">02 : Works</a></li>
          <li><a href="/about" title="">03 : About me</a></li>
          <li><a href="/contact" title="">04 : Contact</a></li>
          
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="/work" title="">001</a></li>
            <li><a href="/work2" title="">002</a></li>
            <li><a href="/work3" title="" class="active">003</a></li>
            <li><a href="/work4" title="">004</a></li>
            <li><a href="/work5" title="">005</a></li>
            <li><a href="/work6" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="/static/assets/images/REM01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">003 : REM 睡眠剝奪 </h1>
          </div>
          <p>2022 畢業專題製作</p>
          

          <tr><td><h4>
            "REM 又稱快速動眼期(rapid eye movement) 是動物睡眠的一個階段。 在此睡眠階段中， 眼球會
            快速移動，同時身體肌肉放鬆，大腦的神經元的活動與清醒的時候 相同，呈現快速、低電壓去同步
            化的腦電波。
            疫情發生後，“ 人生規劃“ 成了一個虛幻的詞，長期的社交疏離、日常生活干擾、工作與生活 界限
            模糊以及未來的不確定性，導致曾經做過的夢想都逃到夢境裡面，報復性失眠就像一種 被動自殺行
            為，人們在虛幻跟現實之中掙扎，感性的自己想要沈溺在夢境的美好中，卻又不 斷被理性的自我驚
            醒。
            一些科學家認為，REM 睡眠讓大腦有一個安全的地方可以練習處理我們可能不是天天會遇到 的狀
            況或情緒; 在REM 睡眠期間，我們的肌肉暫時癱瘓，防止我們針對這些情緒做出行動。 但當這樣
            的睡眠期間被焦慮剝奪，自我對話也漸漸變成自相矛盾的爭吵。面對外在不安與內 在矛盾的現在，
            我們又該如何去面對，找到適合的平衡點。"
          </h4></td></tr>
          <small class="pull-right">————作品理念</small>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="/static/assets/images/REM02.jpg" class="img-responsive" alt="">
            <p>實體展程式畫面</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="/static/assets/images/REM03.jpg" class="img-responsive" alt="">
            <p>Sketch Fab 線上展間</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="/static/assets/images/REM04.jpg" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Avis Li | 2018-2023 Portfolio </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

 <script type="text/javascript" src="/static/main.70a66962.js"></script></body>

</html>