<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-icon-180x180.png">
  <link href="/static/assets/favicon.ico" rel="icon">

  <title>work1 chase</title>  

<link href="/static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/index" title="">01 : Home</a></li>
          <li><a href="/works" title="">02 : Works</a></li>
          <li><a href="/about" title="">03 : About me</a></li>
          <li><a href="/contact" title="">04 : Contact</a></li>
          
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="/work" title="" class="active">001</a></li>
            <li><a href="/work2" title="">002</a></li>
            <li><a href="/work3" title="">003</a></li>
            <li><a href="/work4" title="">004</a></li>
            <li><a href="/work5" title="">005</a></li>
            <li><a href="/work6" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="/static/assets/images/chase01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : CHASE  </h1>
          </div>
          <p>2020 報名李國鼎（K .T）科技與人文藝術創意獎</p>
          <p>創作者｜
            駱瑀彤 Lo, Yu-Tong 徐紫綺 Wang, Xiao-Ming
            曾怡芯 Tseng, Yi-Shin 李聿屏 Li, Yu-Ping</p>
         
          
            <tr><td><h4>
            "希望透過童年時玩的遊戲 「123木頭人」 來喚醒童年記憶。
              回想童年遊戲時追逐的快樂，追逐的彷彿是自己內心的快樂，但長大後的現在，我們到底在追逐一些什麼呢？"
            </h4></td></tr>
            <small class="pull-right">————作品理念</small>
              
          
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="/static/assets/images/chase02.jpg" class="img-responsive" alt="">
            <p>動畫分鏡圖 背影</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="/static/assets/images/chase03.jpg" class="img-responsive" alt="">
            <p>動畫分鏡圖 側臉</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="/static/assets/images/chase04.jpg" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Avis Li | 2018-2023 Portfolio </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

 <script type="text/javascript" src="/static/main.70a66962.js"></script></body>

</html>